body {
    margin: 0;
    padding: 0;
    background-color: #87CEEB; /* Light Sky Blue for the sky */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cloud-container {
    position: relative;
    width: 100%;
    height: 100%;
}

svg {
    position: absolute;
    /* bottom: 15%; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    width: 100%;
    max-width: 2600px;
    height: 100pc;
}

h1 {
    position: absolute;
    top: 20px;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 3rem;
}